# idea
*.iml
*.ipr
*.iws
*.log

*.swp
*.jar
*.pyc

*.json
!/devOps/Ecs/*.json

*.DS_Store

src/main/resources/phenotypeCR/

logs/
target/
build/
out/

libs/



# bash stuff
.direnv/
.envrc

.idea/
.gradle/



